* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body,
html {
    height: 100%;
    background-color: #252527;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login_box,
.image_box {
    width: 500px;
    height: 700px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.login_box {
    background-color: white;
}

.login_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.login_box_h2 {
    margin-bottom: 30px;
    color: #333;
}

.laporin_title {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_title {
    height: 70%;
}


.input_group {
    margin-bottom: 20px;
}

.input_group_label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

.input_group_input {
    width: 100%;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

.image_box_img {
    width: 500px;
    height: 700px;
    object-fit: cover;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}