* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body,
html {
    height: 100%;
    background-color: #252527;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box,
.image-box {
    width: 500px;
    height: 700px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.login-box {
    background-color: white;
}

.login-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

*/ .login-box h2 {
    margin-bottom: 30px;
    color: #333;
}

.login-box .laporin-title {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box .login-title {
    height: 70%;
}


.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.image-box img {
    width: 500px;
    height: 700px;
    object-fit: cover;
}